@page
@model RazorPagesMovies.Pages_Movies.ViewModel

@{
    ViewData["Title"] = "Synopsis";
}

<h1>Synopsis</h1>


    <h4>@Html.DisplayFor(model => model.Movie.Title)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Title)
        </dd>
        <!--
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Rating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.MPAARating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.MPAARating)
        </dd>
        -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Synopsis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Synopsis)
        </dd>
    </dl>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}